<style>
    
.my-button {
  padding: 1.5vw 3vw;
  background-color: #151459;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2vw;
font-weight: bold;
transition-duration: 0.5s;
}
.my-button:hover {
  background-color: white;
  padding: 2vw 3.5vw;
color:#151459;
}
.my-button:active {
  background-color: #151459;
}
</style>
<button class="my-button">

<slot/>


</button>