---
console.log('javascript');
---
<style>
    footer{
        background-color: #151459;
        padding: 10px;
        display: flex;
        color: white;
        height: 50vh;
    }
    .col {
    flex: 1;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    }
</style>
<footer>
    <div class="col"style="margin-left:5% ">
        <img src="/Logo.png"style="height:25vh">
    </div>
    <div class="col"style="margin-right:5% ">
        <img src="/Living.png"style="height:10vh">
    </div>
    <div class="col"style=" font-size:15px;margin-right: 5%;">
        <ul>
        <h2 style="font-weight: bold;">Contacto</h2>
        <li>Teléfono: +57 312 450 8591</li>
        <li>Email: juanriza@unisabana.edu.co  </li>
        <li>Campus del Puente del Común, Km. 7, Autopista Norte de Bogotá. Chía, Cundinamarca, Colombia. Edificio Ad Portas primer piso.</li>
    </ul>
    </div>
</footer>