---

console.log('javascript');
---

<style>
 .header-container {
    max-width: 12px; /* Establece el ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor en la página */
  }
  header {
    background-color: #151459;
    padding: 10px;
    display: flex;
    color: white;
    height: 5%;
  }

  .col {
    flex: 1;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .col h2 {
    margin: 0;
    font-size: 2vw;
    
  }
  img {
    max-width: 100%; /* Establece el ancho máximo de la imagen al 100% */
    height: auto; /* Hace que la altura se ajuste automáticamente */
  }
 

</style>

<header >
    <div class="col"style="font-weight:Bold; font-size:30px;margin-left:5% ;">
      <a href="Main.html"><h2>Museo de Patología Universidad de la Sabana</h2></a>
    </div>
    <div class="col"style="font-weight:lighter;font-size:30px;font-size: 2vw">
        Principal
    </div>
    <div class="col"style="align-items:flex-end;justify-content: flex-end;margin-right:5% ">
        <img src="/Logo.png"style="height:6vw">
    </div>

</header>
