@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";


@theme {

    --font-display: "JetBrains Mono";

}
@plugin 'tailwind-scrollbar';
body {
  background-color: #0E1126;
  color: white;
  font-family: 'JetBrains Mono', monospace;
}


@layer utilities {
  /* Estado inicial: scrollbar invisible */
  .scrollbar-transicion::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-transicion::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-transicion::-webkit-scrollbar-thumb {
    background-color: #0E1126;
    border-radius: 4px;
    transition: background-color 1s linear;
  }

  /* Al hacer hover: aparece suavemente */
  .scrollbar-transicion:hover::-webkit-scrollbar-thumb {
    background-color: #A259FF;
  }
}

